body {
  max-width: 80%;
  margin-top: 20px;
  margin: auto;
  background-color: rgb(0, 94, 94);
}

.container {
  display: flex;
  flex: center;
  justify-content: space-evenly;
  background-color: #4d91f7;
  margin: auto;
  padding: 20px;
  border: 5px;
  border-color: black;
}

h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: rgb(24, 24, 24);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(188,194,194);
}

.name {
  font-size: 1em;
  font-weight: bold;
}

input {
  width: 100%;
  padding: auto;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  color: rgb(0, 94, 94);
  width: 100%;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
}