body{
  max-width: 80%;
  margin: auto;
  background-color: rgb(0,94,94);
}

.container{
  display: flex;
  flex: center;
  justify-content: space-evenly;
  background-color: #4d91f7;
}

h2 {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bolder;
  color: rgb(255,255,255);
  border: 2px dotted rgb(188,194,194);
}

p{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(188,194,194);
}

.name{
  font-size: 20px;
  font-weight: bold;
}

input{
  width: 100%;
  padding: auto;
  margin-top: 5px;
  box-sizing: border-box;
}

button{
  color: #4d0f47;
  width: 100%;
  padding: 5px 10px;
  border-radius: 4px;
}